* {
    box-sizing: border-box;
}

html{
    font-family: 'ubuntu', serif;
    font-weight: 400;
    font-size: 17px;
    font-style: normal;
    line-height: 1.7em;
}

body{
}

@media all and (max-width: 860px){
    .structure-illustration{
        transform: scale(0.7);
        left: -50px;
    }
}

@media all and (max-width: 700px){
    .structure-illustration{
        left: -150px;
    }
}

@media all and (max-width: 600px){
    html{
        font-size: 18px;
    }

    body{
        padding: 10px;
    }

    .structure-illustration{
        transform: scale(0.54);
        left: -180px;
    }
}

.title{
    margin-top: 20px;
    text-align: center;
}

h1.title{
    font-size: 1.3em;
    font-weight: 500;
}

h2.title{
    font-size: 1.2em;
    font-weight: 500;
}

h3.title{
    font-size: 1.1em;
    font-weight: 500;
}

b {
    font-weight: 500;
}

.wrapper{
    max-width: 1000px;
    margin: auto;
}

p.common-text{
    margin-top: 20px;
    padding: 10px 0;
}

a{
    text-decoration: underline;
    color: #174099;
    cursor: pointer;
}

a:hover{
    color: #5583e6;
}


.structure-illustration {
    position: relative;
    height: 496px;
    width: 806px;
    margin: 20px auto;
}

.stroked{
    text-decoration: line-through;
}

.module{
    position: absolute;
    width: 200px;
    height: 150px;
    padding: 15px;
}

.module > h3{
    font-weight: 500;
    font-size: 1.1em;
}

.module.path-finder{
    background-color: #FFA;
    left: 20px;
    top: 30px;
}

.module.graph-source{
    background-color: #FAF;
    left: 580px;
    top: 30px;
}

.module.controller{
    background-color: #AFF;
    left: 300px;
    top: 30px;
}

.module.ui{
    background-color: #FAA;
    left: 300px;
    bottom: 30px;
}

.module.path-server{
    background-color: #AAF;
    left: 20px;
    bottom: 30px;
}

.ui-controller{
    position: absolute;
    left: 290px;
    width: 220px;
    border: 1px solid #111;
    top: 20px;
    bottom: 20px;
}

.illustration-info{
    position: absolute;
    bottom: 30px;
    width: 200px;
    left: 580px;
    border: 1px solid #333;
    font-size: 0.7em;
    color: #333;
    text-align: center;
}

/*Arrow:*/
.arrow {
  width: 80px;
  clear: both;
  position: absolute;
}

.vertical-arrow{
    position: absolute;
    height: 136px;
    clear: both;
    width: 30px;
}

.vertical-arrow.between-controller-and-ui{
    top: 180px;
    left: 385px;
}

.vertical-arrow.between-controller-and-path-server{
    top: 180px;
    left: 245px;
    transform: scale(0.9, 1.43) rotate(45deg);
}

.vertical-arrow > .line{
    width: 10px;
    height: 96px;
    margin: 0 auto;
    float: none;
}

.point.top{
    border-bottom: 20px solid #FAA;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: auto;
}

.point.bottom{
    border-top: 20px solid #FAA;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: auto;
}

.arrow.between-controller-and-path-finder{
   left: 220px;
   top: 90px; 
}

.arrow.between-contoller-and-graph-data{
    right: 226px;
    top: 90px;
}

.line {
  margin-top: 5px;
  width: 40px;
  background: #FAA;
  height: 10px;
  float: left;
}

.point{
  width: 0;
  height: 0;
}

.point.left{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #FAA;
    float: left;
}

.point.right{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #FAA;
    float: right;
}