/*fonts*/

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu/ubuntu-bold-webfont.eot');
    src: url('./fonts/Ubuntu/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Ubuntu/ubuntu-bold-webfont.woff2') format('woff2'),
         url('./fonts/Ubuntu/ubuntu-bold-webfont.woff') format('woff'),
         url('./fonts/Ubuntu/ubuntu-bold-webfont.ttf') format('truetype'),
         url('./fonts/Ubuntu/ubuntu-bold-webfont.svg#ubuntubold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu/ubuntu-bolditalic-webfont.eot');
    src: url('./fonts/Ubuntu/ubuntu-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Ubuntu/ubuntu-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/Ubuntu/ubuntu-bolditalic-webfont.woff') format('woff'),
         url('./fonts/Ubuntu/ubuntu-bolditalic-webfont.ttf') format('truetype'),
         url('./fonts/Ubuntu/ubuntu-bolditalic-webfont.svg#ubuntubold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu/ubuntu-italic-webfont.eot');
    src: url('./fonts/Ubuntu/ubuntu-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Ubuntu/ubuntu-italic-webfont.woff2') format('woff2'),
         url('./fonts/Ubuntu/ubuntu-italic-webfont.woff') format('woff'),
         url('./fonts/Ubuntu/ubuntu-italic-webfont.ttf') format('truetype'),
         url('./fonts/Ubuntu/ubuntu-italic-webfont.svg#ubuntuitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu/ubuntu-regular-webfont.eot');
    src: url('./fonts/Ubuntu/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Ubuntu/ubuntu-regular-webfont.woff2') format('woff2'),
         url('./fonts/Ubuntu/ubuntu-regular-webfont.woff') format('woff'),
         url('./fonts/Ubuntu/ubuntu-regular-webfont.ttf') format('truetype'),
         url('./fonts/Ubuntu/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/Open_Sans/opensans-bold-webfont.eot');
    src: url('./fonts/Open_Sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Open_Sans/opensans-bold-webfont.woff2') format('woff2'),
         url('./fonts/Open_Sans/opensans-bold-webfont.woff') format('woff'),
         url('./fonts/Open_Sans/opensans-bold-webfont.ttf') format('truetype'),
         url('./fonts/Open_Sans/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}




@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/Open_Sans/opensans-bolditalic-webfont.eot');
    src: url('./fonts/Open_Sans/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Open_Sans/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/Open_Sans/opensans-bolditalic-webfont.woff') format('woff'),
         url('./fonts/Open_Sans/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('./fonts/Open_Sans/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/Open_Sans/opensans-italic-webfont.eot');
    src: url('./fonts/Open_Sans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Open_Sans/opensans-italic-webfont.woff2') format('woff2'),
         url('./fonts/Open_Sans/opensans-italic-webfont.woff') format('woff'),
         url('./fonts/Open_Sans/opensans-italic-webfont.ttf') format('truetype'),
         url('./fonts/Open_Sans/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/Open_Sans/opensans-regular-webfont.eot');
    src: url('./fonts/Open_Sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Open_Sans/opensans-regular-webfont.woff2') format('woff2'),
         url('./fonts/Open_Sans/opensans-regular-webfont.woff') format('woff'),
         url('./fonts/Open_Sans/opensans-regular-webfont.ttf') format('truetype'),
         url('./fonts/Open_Sans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*variables*/

html {
    --accent-color: rgb(230, 193, 30);
    --main-color: #153e61;
    --wrong-mark-color: rgb(255, 61, 61);
    --backgound-a: #f9f9f9;
    --backgound-b: #f2f5ff;
    --headline-font: 'Ubuntu', 'Arial', serif;
    --content-font: 'Open Sans', 'Times', serif;
    --text-color-light: #ced5df;
    --text-color-dark: #2f2c2d;
    --text-color-white: rgb(235, 242, 250);
}